.header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;

    backdrop-filter: blur(40px);
    background: rgba(18, 24, 41, 0.8);

    margin-bottom: 80px;
}